/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v22-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v22-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --white:#fff;
    --aqua:#12f7ff;
    --vialet: #1d002c;
}

body {
    font-family: 'Poppins','Times New Roman', Times, serif;
    background: var(--vialet);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.header {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 25px 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 2em;
    font-weight: 600;
    color: var(--aqua);

}
.header__menu {
    display: flex;
    gap: 1em;
    align-items: center;
}
.header__menu-item {
}
.header__menu-link {
    font-size: 1em;
    font-weight: 500;
    color: var(--white);
    padding: 5px 12px;
    border-radius: 25px;
    border: 2px solid var(--aqua);
    transition: all 0.3s ease;
}

.header__menu-link:hover{
    color: var(--vialet);
    background: var(--aqua);
    box-shadow: 0 0 1rem var(--aqua);
}

section {
    min-height: 100vh;
}

.home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 99;
}

.home img {
    position: absolute;
    object-fit: cover;
    pointer-events: none;
}

#text {
    position: absolute;
    font-size: 2.5rem;
    text-shadow: 0 10px 4px rgba(0,0,0,0.85);
    left: 3%;
    top: 80%;
    color: var(--white);
}

#moon, #desert-moon{
    mix-blend-mode: screen;
}

.about {
    position: relative;

}
.info-box {
    position: absolute;
    z-index: 1003;
    top: 0%;
    left: 10%;
    width: 50%;
    background: var(--vialet);
    color: var(--white);
}

.info-box h2{
    font-size: 2.3rem;
}

.info-box p {
    margin: 0.5rem 0 1.5rem 0;
}

.baton {
    background: var(--aqua);
    color: var(--vialet);
    border-radius: 25px;
    padding: 0.5rem 1rem;
    border: 2px solid var(--aqua);
    font-weight: 500;
    display: inline-block;
    margin-top: 0.5rem;
    transition: all 0.3s ease;
}

.baton:hover{
    box-shadow: 0 0 1rem var(--aqua);
    background: var(--vialet);
    color: var(--white);
}

.about img {
    position: absolute;
    z-index: 1000;
    object-fit: cover;
    pointer-events: none;
}

#waterfall {
    position: absolute;
    top: -95px;
}

.products {
    text-align: center;
    color: var(--white);
    background-color: #121338;
    padding-top: 13rem;
}

.products h2 {
    font-size: 2.3rem;
    font-weight: 600;
}

.our-products {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.our-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--aqua);
    border-radius: 15px;
    padding-top: 5rem;
    margin-top: 5rem;
    width: 360px;
    height: 470px;
}

.our-product span{
    margin-left: 8rem;
    color: var(--aqua);
}

.our-products img {
    width: 150px;
    height: 150px;
    filter: drop-shadow(0 0 12px var(--aqua));
    position: relative;
    bottom: 8.8rem;
}
.our-product h3{
    margin-top: -7rem;
    font-weight: 600;
    font-size: 1.4rem;
}

.our-product span {
    font-size: 1.4rem;
}

.our-product p{
    margin: 1.3rem 1.5rem 2rem 1.5rem;
}
.baton-fish {
    background-color: var(--aqua);
    padding: 1rem 5rem;
    border-radius: 25px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.baton-fish:hover{
    background-color: var(--vialet);
    color: var(--aqua);
    box-shadow: 0 0 15px var(--aqua);
    border: 2px solid var(--aqua);
}


.our-product:hover{
    box-shadow: 0 0 15px var(--aqua);
    transform: translateY(-1rem);
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
}

.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--aqua);
    border-radius: 15px;
    padding: 3rem;
}

.contact div {
    font-size: 2rem;
    color: var(--white);
}

.contact p:hover{
    animation: contact 2s ease-in-out infinite;
}

.contact i {
    margin-right: 1rem;
    color: var(--aqua);
}

@keyframes contact {
    0%{opacity: 0.5;}
    50%{opacity: 1;}
    100%{opacity: 0.5;}
}